@import "tailwindcss";

:root {
  /* --background: #1d212f; */
  --background: #0f1116;
  --foreground: white;
}

input:-webkit-autofill {
  box-shadow: 0 0 0 1000px var(--input-bg, #000) inset !important;
  -webkit-text-fill-color: var(--input-text, #fff) !important;
  caret-color: var(--input-text, #fff);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.elevateOnHover {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.elevateOnHover:hover {
  transform: scale(1.04);
  box-shadow: 6px 6px 6px black;
}
